<div class="page-header">
  <div class="row-fluid">
    <div class="span6">
      <h1>Sites</h1>
    </div>
    <div class="span6">
      <%= link_to "New Site", new_admin_site_path, :class => "btn btn-danger" %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.title, admin_site_path(site) %></td>
        <td><%= site.host %></td>
      </tr>
    <% end %>
  </tbody>

</table>
